extends ../layout

block body
	#container-inner
		h1 #{title}
		if (num_groups > 0)
		
			each month in locals.experimonths
				h3 Experimonth: #{month._id}
				ul.groups
					if(!month.groups || !month.groups.length)
						p There are no groups.	
					else
						each group in month.groups
							li
								p #{group._id} (#{group.num_players} players)	
				u = user()
				if(u && u.role >= 10 && month.groups && month.groups.length)
					div
						a.btn(href="/groups/simulate/deleteall/#{month._id}") Delete All Groups for this Experimonth	

		else
			p There are no groups yet.
			
