extends layout

block body
	#container-inner
		p Welcome to Freeloader.
		- if (player)
			h3 What will you do today?
			form(action="/", method="post")
				label.checkbox
					input(type="checkbox", name="makeDefault")
					small Make this decision my default
				button.btn.popover-trigger(
							type="submit", 
							name="action", 
							value="invest", 
							class=(player.todaysAction == 'invest' ? 'btn-primary' : ''), 
							data-content="You will invest #{pointsToInvest} points and receive a portion of the combined proceeds."
					) 
					| Invest 
					b.icon.icon-info-sign
				
				
				button.btn.popover-trigger(
							type="submit", 
							name="action", 
							value="freeload", 
							class=(player.todaysAction == 'freeload' ? 'btn-primary' : ''), 
							data-content="You will not invest any points, but will receive a portion of the proceeds."
					)  
					| Freeload  
					b.icon.icon-info-sign
				
				if(numPlayers > 15)
					button.btn.popover-trigger(
								type="submit", 
								name="action", 
								value="leavegroup", 
								class=(player.todaysAction == 'leavegroup' ? 'btn-primary' : ''), 
								data-content="You will leave this group and be re-assigned a new group for tomorrow."
						)  
						| Leave Group 
						b.icon.icon-info-sign
		
		- else
			a#signup(href="/login") Sign in or register to play!
