doctype html
html(lang="en")
	head
		block head
			meta(charset="utf-8")
			title= title
			link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
			link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")
			link(rel="stylesheet", href="/css/style.css")
			link(rel='stylesheet', href=locals.authServer()+'/css/navbar.css')
	body

		.container
			.inner
				block messages
					#messages !{flashMessages()}
			block body
			
			
		block footer
			script.
				var _BASEURL = '#{process.env.BASEURL}';
			script.
				var EM_NAV = !{JSON.stringify(locals.nav)};				
			script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
			script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
			script(src='/js/app.js')
			script(src=locals.authServer()+'/js/em-navbar.js')
			script(src="/socket.io/socket.io.js")
