extends layout

block body
	#container-inner
		h1 #{title} (#{players.length})
			
		if (players.length > 0)
			table.playerslist(style='width:100%;')
				thead
					tr
						th Balance
						th Remote User
						th Group ID
						th Experimonth
						th Today's Action
						th Actions
				tbody
					each player in players
						tr
							td $#{player.balance.toFixed(2)}
							td #{player.remote_user}
							td #{player.group}
							td #{player.experimonth}
							td #{player.todaysAction ? player.todaysAction : player.defaultAction}
							td 
								a.btn(href="/players/edit/#{player._id}") Edit
								
					
		else
			p There are no players yet.
			

		h1 Simulate Players
		
			div 
				a.btn(href="/players/simulate/create/2/") Create (2) Simulated Players
				a.btn(href="/players/simulate/create/9/") Create (9) Simulated Players
				a.btn(href="/players/simulate/create/33/") Create (33) Simulated Players
			div
				a.btn(href="/players/simulate/newactions") Change Actions for all Players

			div
				a.btn(href="/players/simulate/deleteall") Delete All Players
				
		
				